.list {
  min-width: calc(200px + 20px);
  width: fit-content;
  height: 600px;
  padding: 20px 10px 10px 10px;
  background-color: #abcdef;
  border-radius: 10px;
  overflow-y: auto;
  position: relative;

  scrollbar-width: none;
  scrollbar-color: #78a3c7 #e3edf7;
}

.list-title {
  margin-bottom: 10px;

  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.list-add-card-button {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #8c9bab;
  border-radius: 5px;
}

.list-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
