.list {
  min-width: calc(200px + 20px);
  width: fit-content;
  height: 600px;
  padding: 20px 10px 10px 10px;
  background-color: #abcdef;
  border-radius: 10px;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  scrollbar-color: #78a3c7 #e3edf7;
}

.list-title {
  margin-bottom: 10px;

  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.list-delete-button {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #8c9bab;
  border-radius: 100%;
  cursor: pointer;
}

.list-add-button-wrapper {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #8c9bab;
  border-radius: 5px;
  cursor: pointer;
}

.list-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
