/* ************************************************************** */
/* 버튼 공통 스타일 */
/* ************************************************************** */
.button {
  width: 100%;
  height: 20px;
  border: 1px solid #8c9bab;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #d9d9d9;
  }
}
/* ************************************************************** */
/* 리스트 버튼 스타일 */
/* ************************************************************** */
.list-add-button {
  min-width: calc(200px + 20px);
  height: 40px;
}

.list-delete-button {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  display: none;
}

.list:hover .list-delete-button {
  display: block;
}

/* ************************************************************** */
/* 카드 버튼 스타일 */
/* ************************************************************** */
.card-add-button {
  margin-top: 10px;
}

.card-delete-button {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  position: absolute;
  top: 3px;
  right: 3px;
  display: none;

  background-color: transparent;
  border: none;

  color: red;

  &:hover {
    background-color: transparent;
  }
}

.card:hover .card-delete-button {
  display: block;
}
