.button {
  width: 100%;
  height: 20px;
  border: 1px solid #8c9bab;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #d9d9d9;
  }
}

.board-add-list-button {
  width: calc(200px + 20px);
  height: 40px;
}

.list-add-button {
  margin-top: 10px;
}

.list-delete-button {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  display: none;
}

.list:hover .list-delete-button {
  display: block;
}

.card-delete-button {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 100%;
  cursor: pointer;
  display: none;
}

.card:hover .card-delete-button {
  display: block;
}
